.btn {
    text-decoration: none;
    color: black;
    padding: 0.5em;
    margin: 0.5em 0;
}

.btn-right {
    float: right;
}

.btn-flat {
    text-transform: uppercase;
}

.btn-flat.btn-blue {
    color: $link;
}
