.schedule-view {
    .schedule-container {
        margin-top: 337px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;

        .schedule-space {
            transition: margin-left 250ms;
        }

        .schedule {
            background-color: white;
            border: 1px solid $border;
            transform: scale(0.9);
            transition: transform 250ms;
            box-shadow: 0px 0px 30px 2px #000000;

            &:first-of-type {
                margin-left: 0;
            }

            &.selected {
                margin-left: 0;
                transform: none;
            }

            &.currentDay .period.current {
                background-color: $border;
            }

            &.afterDay {
                margin-left: -44px;
                &.adjacentDay {
                    margin-left: -22px;
                }
            }

            &.beforeDay {
                margin-right: -44px;
                &.adjacentDay {
                    margin-right: -22px;
                }
            }

            .day {
                padding: 10px;
            }

            .period {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                border-top: 1px solid $border;
                padding: 0.5em;

                .label {
                    width: 200px;
                }

                .dash {
                    text-align: center;
                    width: 20px;
                }

                .start, .end {
                    width: 100px;
                }

                .start {
                    text-align: right;
                }
            }
        }
    }
}
