body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

.btn {
  text-decoration: none;
  color: black;
  padding: 0.5em;
  margin: 0.5em 0;
}

.btn-right {
  float: right;
}

.btn-flat {
  text-transform: uppercase;
}

.btn-flat.btn-blue {
  color: #4aa3df;
}

.kiosk-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.bar {
  height: 100%;
  width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #6d676e;
}

.bar .bar-element {
  width: 100%;
}

.bar .tab {
  background-color: green;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-clip-path 250ms, clip-path 250ms;
  transition: -webkit-clip-path 250ms, clip-path 250ms;
}

.bar .tab .title {
  font-family: 'Oswald', sans-serif;
  font-size: 52px;
  font-weight: 700;
  color: white;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.5);
}

.bar .tab:nth-of-type(odd) {
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
  clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
}

.bar .tab:nth-of-type(even) {
  -webkit-clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
}

.bar .tab.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.today {
  background-color: #232323;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.today .time {
  display: block;
  font-size: 52px;
  line-height: 1em;
}

.today .date {
  display: block;
  font-size: 36px;
  line-height: 1em;
}

.main-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.page {
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: top 250ms;
  transition: top 250ms;
}

.front-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.front-view .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  height: 400px;
  background-position: center;
}

.front-view .header .content {
  width: 640px;
  background-color: rgba(255,255,255,0.7);
  text-align: center;
  padding: 40px;
}

.front-view .article-primary-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 640px;
}

.front-view .article-primary-container .article-primary {
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  max-height: 200px;
  overflow-y: hidden;
  width: 100%;
  -webkit-transition: max-height 1000ms ease-out;
  transition: max-height 1000ms ease-out;
}

.front-view .article-primary-container .article-primary .image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 300px;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  background-size: cover;
  background-position: center;
}

.front-view .article-primary-container .article-primary .article-text {
  padding: 10px;
  border-bottom: solid 1px #ddd;
}

.front-view .article-primary-container .article-primary .article-text .title {
  font-size: 24px;
}

.front-view .article-secondary-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 640px;
}

.front-view .article-secondary-container .article-secondary {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
  background-color: white;
  border-right: solid 1px #ddd;
}

.front-view .article-secondary-container .article-secondary .article-text {
  padding: 1em 10px;
}

.front-view .article-secondary-container .article-secondary .article-text .title {
  font-size: 18px;
}

.front-view .article-secondary-container .article-secondary .article-text .description {
  margin-top: 10px;
}

.front-view .article-secondary-container .article-secondary .article-text .information {
  margin-top: 0.5em;
  color: #7a7a7a;
}

.front-view .article-primary-container .article-expanded,
.front-view .article-secondary-container .article-expanded {
  max-height: 100vh;
  -webkit-transition: max-height 1000ms ease-in;
  transition: max-height 1000ms ease-in;
}

.front-view .description {
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.sports-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sports-view .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 400px;
  width: 100%;
  background-position: center;
}

.sports-view .header .content {
  width: 640px;
  background-color: rgba(255,255,255,0.7);
  text-align: center;
  padding: 40px;
}

.sports-view .results {
  width: 640px;
  background-color: white;
  padding-bottom: 1em;
}

.sports-view .results table {
  width: 100%;
}

.sports-view .results table .table-head td {
  color: #7a7a7a;
  padding: 1em 0;
}

.sports-view .results table .team {
  text-align: right;
}

.sports-view .results table .score {
  text-align: center;
}

.calendar-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.calendar-view .calendar-image {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.calendar-view .calendar-container {
  width: 640px;
  margin-top: -26px;
}

.calendar-view .calendar-container table {
  width: 639px;
  border-collapse: collapse;
  font-size: 12px;
}

.calendar-view .calendar-container table tr.table-data {
  background-color: white;
  color: black;
  height: 88px;
}

.calendar-view .calendar-container table td.table-data {
  margin: 0;
  width: 88px;
  border: 1px solid #ddd;
  position: relative;
  vertical-align: top;
}

.calendar-view .calendar-container table .table-head {
  color: white;
  font-family: 'Oswald', 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
}

.calendar-view .calendar-container table .faded .date {
  color: #7a7a7a;
}

.calendar-view .calendar-container table .selected {
  background-color: #ddd;
}

.calendar-view .calendar-container .event {
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #4aa3df;
  padding: 5px;
  z-index: 2;
}

.calendar-view .calendar-details {
  width: 640px;
  background-color: white;
}

.calendar-view .calendar-details h1 {
  padding: 1em;
  font-size: 24px;
}

.calendar-view .calendar-details .empty-state {
  padding: 0 1em 1em 1em;
}

.calendar-view .calendar-details .event {
  border-top: 1px solid #ddd;
  padding: 1em;
  padding-left: 2em;
}

.calendar-view .calendar-details .photo-credit {
  text-align: right;
  color: #7a7a7a;
  padding: 0.5em;
}

.schedule-view .schedule-container {
  margin-top: 337px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.schedule-view .schedule-container .schedule-space {
  -webkit-transition: margin-left 250ms;
  transition: margin-left 250ms;
}

.schedule-view .schedule-container .schedule {
  background-color: white;
  border: 1px solid #ddd;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 250ms;
  transition: -ms-transform 250ms;
  transition: transform 250ms;
  box-shadow: 0px 0px 30px 2px #000000;
}

.schedule-view .schedule-container .schedule:first-of-type {
  margin-left: 0;
}

.schedule-view .schedule-container .schedule.selected {
  margin-left: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.schedule-view .schedule-container .schedule.currentDay .period.current {
  background-color: #ddd;
}

.schedule-view .schedule-container .schedule.afterDay {
  margin-left: -44px;
}

.schedule-view .schedule-container .schedule.afterDay.adjacentDay {
  margin-left: -22px;
}

.schedule-view .schedule-container .schedule.beforeDay {
  margin-right: -44px;
}

.schedule-view .schedule-container .schedule.beforeDay.adjacentDay {
  margin-right: -22px;
}

.schedule-view .schedule-container .schedule .day {
  padding: 10px;
}

.schedule-view .schedule-container .schedule .period {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-top: 1px solid #ddd;
  padding: 0.5em;
}

.schedule-view .schedule-container .schedule .period .label {
  width: 200px;
}

.schedule-view .schedule-container .schedule .period .dash {
  text-align: center;
  width: 20px;
}

.schedule-view .schedule-container .schedule .period .start,
.schedule-view .schedule-container .schedule .period .end {
  width: 100px;
}

.schedule-view .schedule-container .schedule .period .start {
  text-align: right;
}

.idea-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.idea-view .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #232323;
}

.idea-view .header .content {
  width: 640px;
  background-color: rgba(255,255,255,0.7);
  text-align: center;
  padding: 40px;
}

.idea-view .content-container {
  width: 640px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.idea-view .content-container h2,
.idea-view .content-container h3 {
  text-align: center;
}

.idea-view .content-container .description {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 1em;
}

.idea-view .content-container .column {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  padding: 1em;
}

.idea-view .content-container .column .slider {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border: none;
  width: 285px;
  height: 285px;
}

.admin-container {
  width: 100%;
  height: 100%;
}

.admin-container .full-view {
  width: 100%;
  height: 100%;
}

.admin-login {
  height: 100%;
  background-color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.admin-login .login-container {
  background-color: white;
  padding: 1em;
}

.admin-login .login-container h1 {
  text-align: center;
}

.admin-login .login-container input {
  border: none;
  border-bottom: 1px dotted #ddd;
  font-size: 16px;
  margin: 0.5em 0;
  padding: 0.5em;
  display: block;
  width: 400px;
}

.admin-login .login-container .btn {
  background-color: #4aa3df;
  color: white;
  margin: 0.5em 0;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
}

.admin-dash .dash-page {
  margin-bottom: 1em;
  max-width: 100%;
}

.admin-dash .dash-page .page-name {
  font-size: 1.5em;
  font-weight: bold;
}

.admin-dash .dash-page .property-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.admin-dash .dash-page .property-container .label {
  text-align: center;
  padding: 0.5em;
  font-weight: bold;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  border-radius: 10px;
}

.admin-dash .dash-page .property-container .label.string-label {
  background-color: #40a1c2;
}

.admin-dash .dash-page .property-container .label.array-label {
  background-color: #0ce86f;
  margin-top: 2em;
}

.admin-dash .dash-page .property-container .label.object-label {
  background-color: #fcd7ad;
}

.admin-dash .dash-page .property-container .value-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 0.5em;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
}

.admin-dash .dash-page .property-container .value-container .string {
  padding: 0.5em;
  background-color: #ddd;
  min-height: 38px;
}

.admin-dash .dash-page .property-container .value-container .array {
  margin-top: 2em;
  background-color: #6c7a89;
  border-radius: 5px;
  padding: 1em;
}

.admin-dash .dash-page .property-container .value-container .array.first-of-type {
  margin-top: 0;
}

.admin-dash .dash-page .property-container .value-container .add-element {
  color: #ffffff;
  background-color: #1c448e;
  text-align: center;
  margin-top: 2em;
  padding: 0.5em 1em;
  border-radius: 5px;
  max-width: 500px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
}

.admin-dash .dash-page .property-container .remove-element {
  color: #ffffff;
  background-color: #cf000f;
  text-align: center;
  padding: 0.5em 1em;
  border-radius: 5px;
  max-width: 200px;
  margin-left: -webkit-calc(50% - 100px);
  margin-left: calc(50% - 100px);
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */